.Selector > span {
    color: var(--primary);
    font-size: 18px;
    line-height: 150%;
}

.Selector > select {
    border: none;
    background: none;

    font-size: 18px;

    color: var(--secondary);

    /*border-bottom: solid 1px var(--secondary);*/
    text-decoration-line: underline;
    margin-right: 40px;
}


.Selector > select:focus {
    outline: none;
}
