.Quanty {
    display: flex;
    justify-content: space-between;
    width: 40px;
    border: solid 2px var(--primary);
    padding: 5px;
    border-radius: 2px;
    height: 20px;

    display: flex;
}

.Quanty > input {
    width: 15px;
    background: none;
    border: none;
}

.Quanty > input::-webkit-outer-spin-button,
.Quanty >  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.Quanty > input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.Quanty > input:focus {
    outline: none;
}

.Quanty__arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Quanty__arrows > img {
    cursor: pointer;
}
