.CatalogContent {
    display: flex;
    justify-content: space-between;
}

.CatalogContent__products {
    flex: 6;
}


.CatalogContent__priceinfo {
    display: flex;
    justify-content: flex-end;
    flex: 2;
    margin-left: 37px;
}


@media screen and (max-width: 1400px) {
    .CatalogContent {
        flex-direction: column;
    }
}
